In [1]:
import pandas as pd

In [2]:
c211 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_122710.csv", delimiter=";")
c221 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170321.csv", delimiter=";")
c241 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170427.csv", delimiter=";")
c242 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170453.csv", delimiter=";")
c251 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170515.csv", delimiter=";")
c252 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170540.csv", delimiter=";")
c261 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170624.csv", delimiter=";")
c262 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170714.csv", delimiter=";")
c263 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170742.csv", delimiter=";")
c264 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170802.csv", delimiter=";")
c265 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170856.csv", delimiter=";")
c267 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170914.csv", delimiter=";")
c268 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_170958.csv", delimiter=";")
c269 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_171016.csv", delimiter=";")
c2610 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_171039.csv", delimiter=";")
c2611 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_171136.csv", delimiter=";")
c2612 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_171210.csv", delimiter=";")
c2613 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_171243.csv", delimiter=";")
c2614 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_171309.csv", delimiter=";")
c272 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_171330.csv", delimiter=";")
c273 = pd.read_csv("Misdrijven_en_aangiften_per_gemeente_11042024_171353.csv", delimiter=";")

In [3]:
c3 = pd.concat([c211, c221, c241, c242, c251, c252, c261, c262, c263, c264, c265, c267, c268, c269, c2610, c2611, c2612, c2613, c2614, c272, c273], ignore_index=True)
c3.to_csv('CLEANED_C3.csv')

In [4]:
c3

,Soort misdrijf,Perioden,Regio's,Geregistreerde misdrijven (aantal),Aangiften (aantal)
0,2.1.1 Drugs/drankoverlast,2012,Nederland,838.0,8.0
1,2.1.1 Drugs/drankoverlast,2013,Nederland,490.0,5.0
2,2.1.1 Drugs/drankoverlast,2014,Nederland,388.0,5.0
3,2.1.1 Drugs/drankoverlast,2015,Nederland,365.0,4.0
4,2.1.1 Drugs/drankoverlast,2016,Nederland,216.0,20.0
...,...,...,...,...,...
89707,2.7.3 Leefbaarheid (overig),2019,Niet in te delen (RE),NaN,NaN
89708,2.7.3 Leefbaarheid (overig),2020,Niet in te delen (RE),NaN,NaN
89709,2.7.3 Leefbaarheid (overig),2021,Niet in te delen (RE),NaN,NaN
89710,2.7.3 Leefbaarheid (overig),2022,Niet in te delen (RE),NaN,NaN
89711,2.7.3 Leefbaarheid (overig),2023,Niet in te delen (RE),NaN,NaN